/* Global element styling */

$white: #ffffff;
$black: #000000;
$midgrey: #95989a;
$lightgrey: #ededed;
$greytext: #BFBFBF;
$yellow: yellow;
$orange: #ffb40b;
$royalblue: #0b56ff;
$cyan: rgba(0,205,204,1);
$lightblue: rgba(0,157,255,1);
$skyblue: #9DE1FF;

body {
  background-color: $black;
  background-image: url('/static/images/background-2560w.jpg');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  height: 100%;
  //color: white;
}

h1 {
  color: $yellow;
}

.page-wrapper {
}

.claim-skill-container {
  padding: 25px 0;
}

.menu-outside {
  display: table;
  height: 100%;
  background-color: $lightgrey;
  width: 70px;

}

.menu-inside {
  display: table-cell;
  height: 750px; //TODO FIXME
  background-color: $lightgrey;
  padding-top: 25px;
}

ul.menu-items {
  margin: 0 auto;
  list-style: none;
  width: 30px;
  height: 100%;
  text-align: center;
  li {
    line-height: 4rem;
  }
}

.project-name {
  font-size: 28px;
  font-weight: bold;
  padding: 0 0 0 50px;
  margin: 0 0 20px 0;
}

.button {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.button:hover {
  color: $yellow;
}

.button-thin {
  padding: 8px 20px;
}

.button-fullwidth {
  width: 100%
}

.button-inline {
  display: inline;
}

.yellow-text {
  color: $yellow;
}

.yellow-text:hover {
  color: $white;
}

.button-cyan {
  background-color: $cyan;
}

.button-cyan:hover {
  background-color: $cyan;
}

.button-cyan:focus {
  background-color: $cyan;
}

.button-lt-blue {
  background-color: $lightblue;
}

.button-lt-blue:hover {
  background-color: $lightblue;
}

.button-lt-blue:focus {
  background-color: $lightblue;
}

.icon-confirm {
  max-width: 25px;
}

.icon-message {
  max-width: 20px;
}

.icon-logout {
  // max-height: 30px;
  // max-width: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.menu-items .icon {
  max-width: 25px;
}

.icon-small-avatar {
  max-height: 25px;
  max-width: 25px;
}
.tiny {
  font-size: 12px;
}

.small {
  font-size: 14px;
}

.no-padding {
  padding: 0;
}

.no-right-padding {
  padding-right: 0;
}

#uport-qr {
  position: fixed;
  top: 88px !important;
  left: 66%;
  width: 300px !important;
  height:350px !important;
  z-index:100;
  // background-color:rgba(0,0,0,0);
  text-align:center;
}

/* Landing page styling */
.landing-container {

}

.landing-hero {
  margin: 0 auto;
  padding: 235px 0 0 0;
  height: 675px;
  vertical-align: middle;
  h1.project-title {
    font-size: 60px;
    font-weight: bold;
    color: $cyan;
  }
  h3.tagline {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: $white;
  }
  .hero-action {
    padding: 25px 20px;
  }
  div.sign-up-link {
    padding: 8px 0 0 0;
  }
  a.sign-up-link {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: $greytext;
  }
}

.landing-for-who {
  .vert-bottom-outside {
    display:table;
    height:100%;
    width: 100%;
  }
  .vert-bottom-inside {
    display:table-cell;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
  }
  .icon-for-individuals {
    padding: 0 50px 40px 50px;
  }
  .icon-for-companies {
    padding: 0 50px 40px 50px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 10px;
  }
  h4.headline {
    color: $white;
  }
  h4.description {
    color: $greytext;
  }
  div.github {
    padding: 100px 0;
  }
  .icon-github {
    width: 300px;
  }
}

.landing-video {
  height: 700px;
  background-color: $skyblue;
  padding: 92px 0 0 0;
  .video-container {
    margin: 0 auto;
    padding: 250px 0 0 0;
    height: 515px;
    width: 900px;
    background-color: $white;
  }
  h3.intro-video {
    font-size: 30px;
    font-weight: bold;
    color: $midgrey;
    text-align: center;
  }
}

.landing-get-started {
  background-image: url('/static/images/background-upsidedown-2560w.jpg');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 450px;
  color: $white;
  padding: 120px 0 0 0;
  h2 {
    font-size: 40px;
    font-weight: bold;
  }
  h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
  }
  div.get-started-button {
    padding-top: 50px;
    input {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}

.landing-footer {
  height: 70px;
  color: $greytext;
  padding-top: 20px;
}

.temporary-vertical-space {
  height: 100px;
}

/* Confirm page styling */

.confirm-container {
}

.confirm-header {
  padding: 5px 20px;
  background-color: rgba(0,205,204,0.7);
  h2 {
    font-size: 20px;
    color: $white;
    margin: 0;
  }
}

.confirm-body {
  background-color: rgba(224,224,224,0.9);
  font-size: 12px;
  padding-right: 10px;

  .confirm-body-subheader {
    margin-right: 22px;
    padding: 10px 15px 5px 20px;
  }

  .confirm-body-list {
    height: 0;
    max-height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 0 0 10px;
    padding-right: 10px;
    transition: height 1.5s;
    -webkit-transition: height 1.5s;
    -moz-transition: height 1.5s;
    -ms-transition: height 1.5s;
    -o-transition: height 1.5s;
  }

  .confirm-body-list::-webkit-scrollbar-track
  {
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	border-radius: 10px;
  	background-color: rgba(224,224,224,0.9);
  }

  .confirm-body-list::-webkit-scrollbar
  {
  	width: 12px;
  }

  .confirm-body-list::-webkit-scrollbar-thumb
  {
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1);
  	background-color: $white;
  }

  .confirm-body-row-wrapper {
    padding-right: 15px;
  }

  .confirm-body-row {
    background-color: $white;
    padding: 8px 0 8px 10px;
    margin-bottom: 10px;
    color: $midgrey;
  }

  .cell-end-row {
    padding: 0
  }

}

.confirm-footer {
  background-color: rgba(224,224,224,0.9);
  padding: 30px 32px 30px 0;
  text-align: right;
}

.footer-note {
  padding-right: 20px;
  font-size: 12px;
  font-style: italic;
}

/* Add Project page styling */

.project-container {
}

.project-header {
  padding: 5px 20px;
  background-color: rgba(0,157,255,0.7);
  h2 {
    font-size: 20px;
    color: $white;
    margin: 0;
  }
}

.project-body {
  background-color: rgba(224,224,224,0.9);
  font-size: 12px;
  padding: 0 10px;

  .project-body-subheader {
    padding: 15px 0 0 10px;
    h3 {
      font-size: 14px;
      font-weight: bold;
      // margin: 0;
    }
  }

  .skill-search {
    height: 50px;
  }
  div.skill-search-button-outside {
    position: relative;
  }
  div.skill-search-button-inside {
    position: absolute;
    top: 27px;
    left: 0;
  }
  img.skill-search-button {
    height: 39px;
  }

  .project-body-form {
      padding: 50px 20px 0 20px;
  }

  .project-body-form span {
    font-size: 16px;
  }

  .project-body-form input {
    border: 1px solid $midgrey;
  }

  .project-body-form .project-image {
    border-top: 1px solid $midgrey;
    border-left: 1px solid $midgrey;
    border-right: 1px solid $midgrey;
    margin-top: 28px;
  }

  .project-body-list {
    background-color: $white;
    padding: 10px;
    font-size: 12px;
  }

  .project-body-list-subheader {
    border-bottom: 1px solid $midgrey;
    margin-right: 20px;
    padding: 5px 0 5px 10px;
    font-size: 10px;
  }

  .project-body-list-scroll {
    margin-top: 0;
    max-height: 355px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .project-body-list-scroll::-webkit-scrollbar-track
  {
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  	border-radius: 10px;
  	background-color: rgba(224,224,224,0.9);
  }

  .project-body-list-scroll::-webkit-scrollbar
  {
  	width: 12px;
  }

  .project-body-list-scroll::-webkit-scrollbar-thumb
  {
  	border-radius: 10px;
  	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1);
  	background-color: $white;
  }
  .project-body-list-row {
    margin-right: 10px;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid $midgrey;
    .profile-photo {
      max-height: 30px;
      max-width: 30px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }
    .name {
      padding-left: 10px;
    }
    ul.skills {
      margin: 0;
      list-style: none;
      li {
        line-height: 2rem;
      }
    }
    ul.confirmation-count {
      font-size: 16px;
      margin: 0;
      list-style: none;
      li {
        color: $orange;
        line-height: 2rem;
      }
    }
    ul.project-count {
      font-size: 16px;
      margin: 0;
      list-style: none;
      li {
        color: $royalblue;
        line-height: 2rem;
      }
    }
    textarea {
      font-size: 10px;
      resize: none;
      margin: 10px 0 0 0;
      height: 65px;
    }

  }
}

.project-footer {
  background-color: rgba(224,224,224,0.9);
  padding: 30px 30px 30px 0;
  text-align: right;
}

// Autosuggest

.react-autosuggest__container {
  width: 100%;
}
.react-autosuggest__container--open {
  background-color: rgba(224,224,224,1);
  border-left: 1px solid $midgrey;
  border-right: 1px solid $midgrey;
  border-bottom: 1px solid $midgrey;
}
.react-autosuggest__input {
  border: 1px solid $midgrey;
}
.react-autosuggest__input--open {
  margin-bottom: 0;
}
.react-autosuggest__input--focused {
  margin-bottom: 0;
}
.react-autosuggest__suggestions-container {

}
.react-autosuggest__suggestions-container--open {
  border: 0;
}
ul.react-autosuggest__suggestions-list {
  margin: 0;
  list-style: none;
  li {
    line-height: 1.5rem;
  }
}
.react-autosuggest__suggestion {
  display: block;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
}
//.react-autosuggest__suggestion--first
.react-autosuggest__suggestion--highlighted {
  background-color: rgba(255,255,255,1);
}
//.react-autosuggest__section-container
//.react-autosuggest__section-container--first
//.react-autosuggest__section-title'


/* PROFILE page styling */

.profile-container {
  background-color: $white;
  width: 450px;
  height: 750px; //TODO FIXME
  padding: 50px 25px 25px 25px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: $midgrey;
  }
}

.profile-header {
  padding-bottom: 25px;
  .profile-photo {
    max-height: 50px;
    max-width: 50px;
    -moz-border-radius: 25px;
    border-radius: 25px;
  }
}

.profile-body {

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: $midgrey;
  }

  .profile-body-list {
    margin-bottom: 25px;
    .profile-body-list-subheader {
    }
    .profile-body-list-scroll {
        margin-top: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid $lightgrey;
    }
    .profile-body-list-scroll-tall {
      max-height: 300px;
    }
    .profile-body-list-scroll-short {
      max-height: 175px;
    }
    .profile-body-list-scroll::-webkit-scrollbar-track
    {
    	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    	border-radius: 10px;
    	background-color: rgba(224,224,224,0.9);
    }
    .profile-body-list-scroll::-webkit-scrollbar
    {
    	width: 12px;
    }
    .profile-body-list-scroll::-webkit-scrollbar-thumb
    {
    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1);
    	background-color: $white;
    }
    .confirmation-count {
      font-size: 16px;
      color: $orange;
    }
    .project-count {
      font-size: 16px;
      color: $royalblue;
    }
  }
}
