/* Global element styling */

$bright: yellow;

body {
  background-color: #000000;
  background-image: url('/static/images/background-2560w.jpg');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //color: white;
}

h1 {
  color: $bright;
}

.page-wrapper {
    margin-top: 25px;
}

.menu {

}

.project-name {
  font-size: 26px;
  font-weight: bold;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
}

.button {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.button:hover {
  color: $bright;
}

.button-cyan {
  background-color: rgba(0,205,204,1);
}

.button-cyan:hover {
  background-color: rgba(0,205,204,1);
}

.button-cyan:focus {
  background-color: rgba(0,205,204,1);
}

.button-lt-blue {
  background-color: rgba(0,157,255,1);
}

.button-lt-blue:hover {
  background-color: rgba(0,157,255,1);
}

.button-lt-blue:focus {
  background-color: rgba(0,157,255,1);
}

.icon-confirm {
  max-width: 25px;
}

#uport-qr {
  position: fixed;
  top: 88px !important;
  left: 66%;
  width: 300px !important;
  height:350px !important;
  z-index:100;
  // background-color:rgba(0,0,0,0);
  text-align:center;
}

/* Confirm page styling */

.confirm-container {
}

.confirm-header {
  padding: 5px 20px;
  background-color: rgba(0,205,204,0.7);
  h2 {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
  }
}

.confirm-body {
  background-color: rgba(224,224,224,0.9);
  font-size: 12px;
  padding-right: 10px;
}

.confirm-body-subheader {
  margin-right: 22px;
  padding: 10px 15px 5px 20px;
}

.confirm-body-scroll {
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 0 0 10px;
  padding-right: 10px;
}

.confirm-body-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(224,224,224,0.9);
}

.confirm-body-scroll::-webkit-scrollbar
{
	width: 12px;
}

.confirm-body-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,1);
	background-color: #ffffff;
}

.confirm-body-row-wrapper {
  padding-right: 15px;
}

.confirm-body-row {
  background-color: #ffffff;
  padding: 10px 0 7px 10px;
  margin-bottom: 10px;
  color: #95989a;
}

.cell-end-row {
  padding: 0
}

.confirm-footer {
  background-color: rgba(224,224,224,0.9);
  padding: 30px 32px 30px 0;
  text-align: right;
}

.footer-note {
  padding-right: 20px;
  font-size: 12px;
  font-style: italic;
}

/* Add Project page styling */

.project-container {
}

.project-header {
  padding: 5px 20px;
  background-color: rgba(0,157,255,0.7);
  h2 {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
  }
}

.project-body {
  background-color: rgba(224,224,224,0.9);
  font-size: 12px;
  padding: 50px 30px 0 30px;
}

.project-body span {
  font-size: 16px;
}

.project-body input {
  border: 1px solid #95989a;
}

.project-body .project-image {
  border-top: 1px solid #95989a;
  border-left: 1px solid #95989a;
  border-right: 1px solid #95989a;
  margin-top: 28px;
}

.project-footer {
  background-color: rgba(224,224,224,0.9);
  padding: 30px 30px 30px 0;
  text-align: right;
}
